.sudoku {
    .cell-fill-options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .cell-fill-option, .cell-clean-option {
            width: 50px;
            height: 50px;
            border: 1px solid #909090;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }

    .board {
        .row {
            border-bottom: none;
            .cell {
                border-bottom: 1px solid #909090;
            }
            &:nth-child(3n) {
                .cell {
                    border-bottom: 2px solid #909090;
                }

                &:last-child {
                    .cell {
                        border-bottom: none;
                    }
                }
            }

            .cell {
                &:nth-child(3n) {
                    border-right: 2px solid #909090;
    
                    &:last-child {
                        border-right: none;
                    }
                }

                &.is-highlight {
                    background-color: #a3c6fc;
                }

                &:hover, &:focus {
                    box-shadow: 1px 1px #0046b0 inset, -1px -1px #0046b0 inset;
                }
            }  
        }

    }
}