.sudoku {
    .cell-fill-options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .cell-fill-option {
            width: 50px;
            height: 50px;
            border: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }

    .board {
        .row:nth-child(3n) {
            border-bottom: 2px solid #000;

            &:last-child {
                border-bottom: none;
            }
        }

        .row {
            .cell:nth-child(3n) {
                border-right: 2px solid #000;

                &:last-child {
                    border-right: none;
                }
            }
        }

        &:hover {
            .cell.is-highlight {
                background-color: aquamarine;
            }
        }
    }
}