.footer {
  min-height: 100px;
  background-color: #282c34;
  color: #fff;
  padding: 20px;
  display: flex;
}

.footer .wrapper {
  flex-direction: row;
}

.footer a {
  flex: 1;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer .icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
