.app {
  text-align: center;
}

.link {
  color: #acaeaf;
}

* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 980px;
  margin: 0 auto 20px;
  flex-direction: column;
  padding: 20px;

    &.wrap-with-border {
      border: 1px solid #ccc;
    }
}