.controllers-and-settings {
    border-top: 1px solid #ddd;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    input {
        height: 45px;
        width: 100%;
    }
}

.generation-counter {
    margin-top: 25px;
}